.calculatorMainBackground{
	background-color: #B2CCF3;
}

.calculatorDisplayBackground{
	background-color: #D7E5FF;
}

.calculatorInputBackground{
	background-color: #B2CCF3;
}

.calculatorButtonBackground{
	background-color: yellow;
}