<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="15618JoinLife.BestToDoList" Publisher="CN=26741AB4-FD13-4EF8-A56B-6CC3370DA35D" Version="1.1.0.5" />
  <Properties>
    <DisplayName>Best To Do List</DisplayName>
    <PublisherDisplayName>JoinLife</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ToDo.W8.App">
      <m2:VisualElements DisplayName="Best ToDo List" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Best ToDo List" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile ShortName="Best ToDo List">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#5E6771" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>