<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="provider" value="System.Data.SQLite" />
    <add key="dataBaseConfigStart" value="Data Source=(LocalDB)\v11.0;AttachDbFilename=" />
    <add key="dataBase" value="DataBases\BrandWide.db3" />
  </appSettings>
</configuration>